*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: rgb(0, 0, 0);
}
header{
    background-color: rgb(102, 209, 255, 1);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
header div {
    display: flex;
    gap: 10px
}
header img {
    width: 50px;
    height: 50px;
    position: relative;
}
h1 {
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
nav{
    display: flex;
    gap: 25px;
    font-family: 'open sans', sans-serif;
    padding-right: 40px;
    font-size: 15px;
}
nav a{
    text-decoration: none;
    color: inherit;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline;
}

/*  seccion inicio  */
#Inicio {
    background-color: #e3e4e5;
    padding: 70px 20px;
    height:100vh;
}
.card1-title {
    color: #2c3e50;
    margin: 20px auto;
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-group {
    text-align: center;
}
.contenido-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px;
}
.card1-description{
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    max-width: 400px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.card1-img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.button{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
.button button{
    padding: 12px 30px;
    background-color: rgb(102, 209, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button button:hover{
    background-color: #369bff;
}


/* seccion sobre mi */
#Sobre-mi{
    background-color: #e3e4e5;
    margin: 1.5px auto;
    padding: 70px 20px;
    height:100vh;
    text-align: center;
}
.card2-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card2-description{
    padding-top: 100px;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
}
.skill-section {
    width: 20%;
    height: 300px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}
.skill-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #2c3e50;
}
.skill-section li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}
.skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
    gap: 20px;
}
.skill-bar span {
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}


/* Seccion proyectos*/
#Proyectos{
    background-color: #e3e4e5;
    margin: 1.5px auto;
    padding: 60px;
    height: 150vh;
    text-align: center;
}
.card3-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containers{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
    padding: 20px;
}
.proyecto1{
    width: 30%;
    height: 400px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto1:hover{
    transform: translateY(-5px);
}
.proyecto1 img{
    max-width: 100%;
}
.proyecto1 h2{
    margin-bottom: 50px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto1 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
}
.proyecto2{
    width: 30%;
    height: 400px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto2:hover{
    transform: translateY(-5px);
}
.proyecto2 img{
    max-width: 100%;
}
.proyecto2 h2{
    margin-bottom: 50px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto2 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
}
.proyecto3{
    width: 30%;
    height: 400px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto3:hover{
    transform: translateY(-5px);
}
.proyecto3 img{
    max-width: 100%;
}
.proyecto3 h2{
    margin-bottom: 50px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto3 button {
  padding: 10px 20px;
  background-color: rgb(102, 209, 255, 1);
  color: #000000;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.proyecto3 button:hover {
  background-color: #369bff;
}

.proyecto4{
    width: 30%;
    height: 400px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto4:hover{
    transform: translateY(-5px);
}
.proyecto4 img{
    max-width: 70%;
}
.proyecto4 h2{
    margin-bottom: 10px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto4 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #2c3e50;
    font-size: 12px;
}
.proyecto4 p{
    margin-bottom: 5px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto4 div{
    margin-top: 10px;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    background-color: #e3e4e5;
}
.proyecto5{
    width: 30%;
    height: 400px;
    background-color: #93fb8a;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto5:hover{
    transform: translateY(-5px);
}
.proyecto5 img{
    max-width: 100%;
}
.proyecto5 h2{
    margin-bottom: 50px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto5 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
}


/* Seccion Proyectos*/
#Contacto{
    background-color: #e3e4e5;
    padding: 60px;
    height: 100vh;
    text-align: center;
}
.card4-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 50px;
    flex-wrap: wrap;
}

.redes-sociales a {
    display: block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a03ff;
    text-decoration: none;
    margin-bottom: 10px;
}
.redes-sociales img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.formularios {
    padding: 20px;
    border-radius: 10px;
    border: 5px solid;
    border-color: #93fb8a;
    width: 300px;
    flex-shrink: 0;
}

.formularios label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
}

.formularios input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formularios button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: rgb(102, 209, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 55%;
    transition: background 0.3s ease;
}
.formularios button:hover{
    background-color: #369bff;
}

footer {
    background-color: rgb(152, 152, 153);
    color: white;
    text-align: center;
    padding: 20px 0;
}