*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(152, 152, 153);
}
header{
    background: rgb(152, 152, 153);
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: super senior;
    position: fixed;
    width: 100%;
}
header h1{
    font-size: 25px;
    color: blue
}
nav{
    display: flex;
    gap: 25px;
    font-family: 'open sans', sans-serif;
    padding-right: 40px;
    font-size: 15px;
}
nav a{
    text-decoration: none;
    color: inherit;
}
nav a:hover{
    color: #007BFF;
    text-decoration: underline;
}

/*  seccion inicio  */
#Inicio {
    background: radial-gradient(circle,rgba(5, 177, 245, 1) 0%, rgba(102, 209, 255, 1) 47%, rgba(0, 157, 255, 1) 100%);
    padding: 70px 20px;
    height:100vh;
}
.card1-title {
    color: #2c3e50;
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-group {
    text-align: center;
}
.contenido-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px;
}
.card1-description{
    font-size: 1.1rem;
    color: #333;
    text-align: center;
    max-width: 400px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.card1-img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.button{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}
.button button{
    padding: 12px 30px;
    background-color: #369bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button button:hover{
    background-color: #036bfd;
}


/* seccion sobre mi */
#Sobre-mi{
    background: radial-gradient(circle,rgba(5, 177, 245, 1) 0%, rgba(102, 209, 255, 1) 47%, rgba(0, 157, 255, 1) 100%);
    margin: 10px auto;
    padding: 70px 20px;
    height:100vh;
    text-align: center;
}
.card2-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card2-description{
    padding-top: 100px;
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
}
.skill-section {
    width: 20%;
    height: 300px;
    background-color: rgb(36, 134, 246);
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}
.skill-section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #2c3e50;
}
.skill-section li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}
.skill-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* Seccion proyectos*/
#Proyectos{
    background: radial-gradient(circle,rgba(5, 177, 245, 1) 0%, rgba(102, 209, 255, 1) 47%, rgba(0, 157, 255, 1) 100%);
    margin: 10px auto;
    padding: 60px;
    height: 100vh;
    text-align: center;
}
.card3-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.containers{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
    padding: 20px;
}
.proyecto1{
    width: 30%;
    height: 400px;
    background-color: rgb(36, 134, 246);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.proyecto1:hover{
    transform: translateY(-5px);
}
.proyecto1 img{
    max-width: 100%;
}
.proyecto1 h2{
    margin-bottom: 50px;
    color: #2c3e50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.proyecto1 a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
}
.proyecto2{
    width: 30%;
    height: 400px;
    background-color: rgb(36, 134, 246);
    padding: 20px;
    border-radius: 10px;
}
.proyecto3{
    width: 30%;
    height: 400px;
    background-color: rgb(36, 134, 246);
    padding: 20px;
    border-radius: 10px;
}


/* Seccion Proyectos*/
#Contacto{
    background: radial-gradient(circle,rgba(5, 177, 245, 1) 0%, rgba(102, 209, 255, 1) 47%, rgba(0, 157, 255, 1) 100%);
    padding: 60px;
    height: 100vh;
    text-align: center;
}
.card4-title{
    color: #2c3e50;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 50px;
    flex-wrap: wrap;
}

.redes-sociales a {
    display: block;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3a03ff;
    text-decoration: none;
    margin-bottom: 10px;
}
.redes-sociales img{
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.formularios {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    width: 300px;
    flex-shrink: 0;
}

.formularios label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 0.95rem;
    color: #333;
}

.formularios input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formularios button {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #369bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 55%;
    transition: background 0.3s ease;
}
.formularios button:hover{
    background-color: #036bfd;
}

footer {
    background-color: rgb(152, 152, 153);
    color: white;
    text-align: center;
    padding: 20px 0;
}